.progress {
  background-color: #d8d8d8;
  position: relative;
  margin-bottom: 15px;
  height: 25px;
  width: 100%;
}

.progress-bar {
  background: linear-gradient(to left, #011635, #010faa);
  /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.bar {
  background-color: #d8d8d8;
  position: relative;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 15px;
  height: 25px;
  /* width: 95%; */

  margin: 50px;
}

.progress-done {
  background: #145a32;
  position: absolute;
  /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.progress-wrong {
  background: #a93226;
  position: absolute;
  /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.progress-right {
  background: #011635;
  position: absolute;
  /* box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #f2709c; */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.quizPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 50px;
  padding: 50px;
  background: #daddff;
}

.iconStyle {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-top: -20px;
}

.option button {
  padding: 10px 20px;
  border: 1px solid #002760;
  margin: 15px 15px 0 0;
  text-transform: uppercase;
  cursor: pointer;
}

.option .msg {
  visibility: hidden;
  padding: 10px 20px;
  width: 200px;
  border: 1px solid #002760;
  margin: 15px 15px 0 0;
  text-transform: uppercase;
}

.scoreboard .score {
  /* visibility: hidden; */
  padding: 10px 20px;
  width: 200px;
  border: 1px solid #002760;
  /* margin: 15px 15px 0 0; */

  margin: 50px;
  text-transform: uppercase;
}

.option button:hover {
  background: #002760;
  color: #fff;
}
